@import "../component/CommodityDetails";
@import "../component/OrderDetails";
@import "../component/CommodityAdd";
@import "../component/Footer";

.header-nav {
  padding-left: 50px;
  display: flex;
  justify-content: left;
  background-color: black;
  color: white;
  height: 50px;

  a {
    line-height: 50px;
    color: white;
    padding: 0 10px;
    font-size: 20px;
    text-decoration: none;
  }

  .active-link {
    background-color: dodgerblue;
  }
}