.commodity-add {
  margin: 40px 30px;
  padding: 20px 30px;
  background-color: white;

  h1 {
    text-align: center;
  }

  input {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
  }

  .submit-button {
    font-size: 1rem;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    background-color: deepskyblue;
    color: white;
  }
}