.commodity-list {
  margin: 40px 30px;
  padding: 20px 0;
  background-color: white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  img {
    height: 400px;
    width: 300px;
  }

  .commodity-details {
    margin: 0 5px;
    border: gray solid 1px;
  }
}

