.order-table {
  margin: 40px 30px;
  padding: 20px 0;
  background-color: white;
  width: calc(100% - 60px);
  th {
    text-align: left;
    font-size: 20px;
    background-color: #FAFAFA;
    border-bottom: #F4F4F4 solid;
    height: 50px;
  }

  td {
    font-size: 20px;
    border-bottom: #F4F4F4 solid;
    height: 50px;
  }

  .delete-button {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    color: red;
  }
}